{{!
  예제 페이지 입니다.
  @url http://static.loc.wemep.co.kr:8080/custom/example
}}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="resource-type" content="document" />
  <meta name="robots" content="all" />
  <meta name="author" content="Copyright &copy; WEMAKEPRICE Corporation. All Rights Reserved." />
  <meta property="og:title" content="WeMakePrice - 우리가 만드는 가격, 위메프"/>
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.wemakeprice.com"/>
  <meta property="og:image" content="http://image.wemakeprice.com/images/operation/default_thumb_new.jpg"/>
  <meta property="og:site_name" content="WeMakePrice"/>
  <meta property="og:description" content="고객의 돈과 시간을 아껴주는 위메프"/>
  <meta property="og:locale:alternate" content="ko_KR" />
  <meta property="fb:admins" content="100001387730991"/>
  <meta property="fb:app_id" content="122691617829067" />
  <meta name="google-site-verification" content="E_Y5HPX18jwG9CQJ2luzOxueAcaOcTNPEK8yVwL4xKg" />
  <title>example</title>
</head>
<body>
  <h1>Example Page</h1>
</body>
</html>
